* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.todo-main {
  background-color: #242424;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;

  form {
    display: flex;
    justify-content: center;

    input[type="text"] {
      width: 300px;
      margin: 30px auto;
      height: 40px;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      border: 0px;
      outline: none;
      padding: 4px;
    }
    input[type="submit"] {
      width: 100px;
      margin: 30px auto;
      height: 40px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      border: 0px;
      outline: none;
      padding: 4px;
      cursor: pointer;
    }
  }

  .todo-flex {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 20px;
  }
  div.list {
    width: 30%;
    background-color: #fff;
    height: 600px;
    border-radius: 20px;
    overflow-y: scroll;
    h1 {
      text-align: center;
      padding: 20px 0px;
    }
  }

  .unfinished-flex {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    background-color: rgb(247, 247, 247);
    gap: 10px;
    h2 {
      max-width: 80%;
      word-break: break-all;
    }
    .finish-task {
      height: 30px;
      cursor: pointer;
      width: 20%;
    }
  }
  .finished-flex {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2 {
      max-width: 80%;
      word-break: break-all;
    }
    .finished-buttons {
      display: flex;
      gap: 8px;

      button {
        cursor: pointer;
        padding: 5px;
      }
    }
  }
}
